.content-wrapper, .content, .container-fluid, #support-container {
    display: flex;
    flex-direction: column;
}

.content, .container-fluid, #support-container, .chat-window {
    flex-grow: 1;
    position: relative;
}

.tab-content > .active.card {
    display: flex;
}

.chat-window {
    display: flex;
    height: 100%;
}

.chat-overview {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    width: 100%;
}

.chats {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    width: 100%;
}

.chat-overview > .card, .chats > .card {
    overflow: hidden;
}

.card-menu {
    display: none;
}

.card-header.uniform {
    flex-shrink: 0;
    height: 4rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-header.uniform > .card-tools {
    margin-left: auto !important;
}

/* breakpoint-md: 768px */
@media all and (min-width: 769px) {
    .chat-overview > .card, .chat-overview > .card > .card-header {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .chats > .tab-content > .tab-pane.card, .chats > .tab-content > .tab-pane.card > .card-header {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

/* breakpoint-md: 768px */
@media all and (max-width: 768px) {
    .card-menu {
        display: block;
        float: left;
    }

    .chat-window {
        display: block;
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    .chat-overview, .chats {
        position: absolute;
        max-width: 100%;
        height: 100%;
    }

    .chat-overview {
        z-index: 1;
        transition: margin-left, visibility;
        transition-duration: 500ms;
    }

    .chat-overview.hidden {
        margin-left: -100%;
        visibility: hidden;
    }

    .chats {
        z-index: 0;
    }
}
