{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load theme %}

{% block styles %}
    {% theme "multi_select" "stylesheet" %}
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% trans "Configure Personal Room" %}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% crispy form %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script src="{% static 'plugins/multi-select/js/jquery.multi-select.js' %}"></script>
    <script>
        let select = $('#id_co_owners').multiSelect();
        let filter = $('#id_filter_owner').keypress((e) => {
            $.get('/core/coowner/user/search?q=' + filter.val(), (data) => {
                $('#id_co_owners').find('option').not(':selected').remove();
                let optionValues = []
                $('#id_co_owners option').each(function () {
                    if ($.inArray(this.value, optionValues) > -1) {
                        $(this).remove()
                    } else {
                        optionValues.push(this.value);
                    }
                });
                data.items.forEach((item) => {
                    //$('#id_co_owners').append(`<li class=\"ms-elem-selectable\" id=\"${item.id}-selectable\"><span>${item.text}</span></li>`)
                    $('#id_co_owners').append($("<option>", {
                        value: item.id,
                        text: item.text
                    }));
                });
                $('#id_co_owners').multiSelect('refresh');
            })
        })
    </script>
{% endblock scripts %}