{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load theme %}

{% block styles %}
    {% theme "multi_select" "stylesheet" %}
{% endblock styles %}

{% block content %}
     <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% trans "Configure server" %}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% crispy form %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}


{% block scripts %}
    <script src="{% static 'plugins/multi-select/js/jquery.multi-select.js' %}"></script>
    <script>
        let select = $('#id_server_types').multiSelect();
    </script>
{% endblock scripts %}