{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'chat/css/support.css' %}">
{% endblock %}

{% block scripts %}
    <script>
        function getAvailableHeight(element) {
            element = jQuery(element);
            if (element.length === 0) {
                return 0;
            } else if (element.length === 1 && element.get(0) === document) {
                return document.documentElement.clientHeight;
            } else if (element.length !== 1) {
                console.error('More than one matching element has been found:');
                console.error(element.get());
            }

            const parent = element.parent();
            element = element.get(0);

            const availableHeight = getAvailableHeight(parent);
            const preservedHeight = parent.children(':visible').get().reduce(function (acc, child) {
                const jChild = jQuery(child);
                if (jChild.css('position') === 'absolute') {
                    return acc;
                } else if (child === element) {
                    return acc + jChild.outerHeight(true) - jChild.height();
                }
                return acc + jChild.outerHeight(true);
            }, 0);

            return availableHeight - preservedHeight;
        }

        function resizeSupportContainer() {
            const supportContainer = jQuery('#support-container');
            const height = getAvailableHeight(supportContainer);
            supportContainer.height(height);
        }

        window.addEventListener('resize', resizeSupportContainer);

        window.addEventListener('load', function () {
            jQuery('#support-container').append(support.getContainer());

            resizeSupportContainer();
        });
    </script>
{% endblock %}

{% block content %}
    <div id="support-container"></div>
{% endblock %}
